[importlinter]
root_package = taskq_api

[importlinter:contract:layered-architecture]
name = layered-architecture
type = layers
layers =
    taskq_api.api
    taskq_api.service
    taskq_api.repository
    taskq_api.models